*{
    margin: 0;
    padding: 0;
}
#left{
    width: 450px;
    height: 350px;
    background-color: aqua;
}
#right{
    width: 450px;
    height: 350px;
    background-color: orange;
    margin-left: 50px;
}
#parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}